<!DOCTYPE html>
<html>
<head>
    <title>DODGE EM!</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <h1>HOT DODGE!</h1>
    <ul class = "mainMenu">
        <li><a href="/game">Game</a></li>
        <li><a href="/scoreboard">Leaderboard</a></li>
    </ul>
    <script src="static/script.js"></script>
</body>
</html>
